<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/singnup</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="container">
        <div class="box">
            <div class="con">
                <h1 class="head">Login</h1>
            </div>
            <div class="mainbox">
                <div class="con">
                    <input type="text" id="username" class="in" placeholder="Username">
                </div>
                <div class="con">
                    <input type="password" name="" id="pass" class="in" placeholder="Password">
                </div>
                <div class="remember">
                    <input type="checkbox" name="remember" id="">
                    <label for="remember">Remember me</label>
                </div>
                <div class="btn">
                    <button>Login</button>
                </div>
                <div class="signup">
                    <span>Don't have an account?</span>
                    <button>Register</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/login.js"></script>
</body>

</html>