<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="login">
        
    </div>
    <header>
        <h1 class="heading">NOTES</h1>
        <img src="p.png" alt="">
    </header>
    <div class="line"></div>
    <nav>
        <ul>
            <li>Notes</li>
            <li>Todo list</li>
        </ul>
    </nav>
</body>
</html>